DataIntegrationHub/ApplicationWebClient/Service References/DIS/DataIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3291/DataIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3291/DataIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3291/DataIntegrationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3291/DataIntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ApplicationWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataIntegrationService_GetRecordsByChannelAndDatespan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsByChannelAndDatespan" />
  </wsdl:message>
  <wsdl:message name="IDataIntegrationService_GetRecordsByChannelAndDatespan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsByChannelAndDatespanResponse" />
  </wsdl:message>
  <wsdl:message name="IDataIntegrationService_GetRecordsByDataRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsByDataRange" />
  </wsdl:message>
  <wsdl:message name="IDataIntegrationService_GetRecordsByDataRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsByDataRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataIntegrationService">
    <wsdl:operation name="GetRecordsByChannelAndDatespan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataIntegrationService/GetRecordsByChannelAndDatespan" message="tns:IDataIntegrationService_GetRecordsByChannelAndDatespan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataIntegrationService/GetRecordsByChannelAndDatespanResponse" message="tns:IDataIntegrationService_GetRecordsByChannelAndDatespan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordsByDataRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataIntegrationService/GetRecordsByDataRange" message="tns:IDataIntegrationService_GetRecordsByDataRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataIntegrationService/GetRecordsByDataRangeResponse" message="tns:IDataIntegrationService_GetRecordsByDataRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataIntegrationService" type="tns:IDataIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecordsByChannelAndDatespan">
      <soap:operation soapAction="http://tempuri.org/IDataIntegrationService/GetRecordsByChannelAndDatespan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordsByDataRange">
      <soap:operation soapAction="http://tempuri.org/IDataIntegrationService/GetRecordsByDataRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataIntegrationService">
    <wsdl:port name="BasicHttpBinding_IDataIntegrationService" binding="tns:BasicHttpBinding_IDataIntegrationService">
      <soap:address location="http://localhost:3291/DataIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>