DataIntegrationHub/ApplicationDBPersisTence/statistics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="statistics">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element maxOccurs="unbounded" name="statistic">
          <xs:complexType>
            <xs:attribute name="date" type="xs:string" use="required" />
            <xs:attribute name="channel" type="xs:string" use="required" />
            <xs:attribute name="avg" type="xs:decimal" use="required" />
            <xs:attribute name="min" type="xs:decimal" use="required" />
            <xs:attribute name="max" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>